#include <winuser.h>
#include <winver.h>
#include "resource.h"

CREATEPROCESS_MANIFEST_RESOURCE_ID RT_MANIFEST "manifest.xml"

// About dialog
IDD_ABOUT_DIALOG DIALOGEX 0, 0, 238, 183
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION ""
LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
FONT 9, "TAHOMA"
{
   CONTROL "", IDC_ABOUT_OK, BUTTON, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 179, 164, 50, 13 
   CONTROL "", IDB_ABOUT_IMAGE, STATIC, SS_BITMAP | WS_CHILD | WS_VISIBLE | WS_GROUP, 11, 12, 80, 67 
   CONTROL "", IDC_ABOUT_DESCRIPTION, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 12, 88, 211, 10 
   CONTROL "", IDC_ABOUT_COPYRIGHT, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 12, 99, 211, 10 
   CONTROL "", IDC_ABOUT_HOMEPAGE, BUTTON, WS_CHILD | WS_VISIBLE | WS_TABSTOP, 6, 164, 50, 13 
}
